.fullwidth-block{
	padding: 70px 0;

	.section-title{
		@include em(36);
		font-weight: 300;
		color: white;
	}
}

.filter{
	margin-bottom: 30px;
}
.filter-control{
	border:2px solid $secondary-color;
	padding: 5px 5px 5px 20px;
	border-radius: 30px;
	display: inline-block;
	white-space: nowrap;

	label{
		margin-right: 10px;
		display: inline-block;
		padding: 10px;
		vertical-align: middle;
	}


}
.select.control{
	background: $secondary-color;
	border-radius: 40px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
	padding-right: 30px;
	position: relative;

	&:after{
		content:" ";
		width:7px;
		height:9px;
		background: url(src/assets/images/arrow-down.png);
		position: absolute;
		right: 10px;
		top:0;
		bottom:0;
		margin: auto;
		display: block;
		z-index: 1;

	}

	select{
		padding: 10px 30px;
		width: 110%;
		border: none;
		background: none;
		outline: none;
		appearance: none;
		-webkit-appearance: none;
		color: white;
	}
}
.live-camera{
	margin-bottom: 30px;
	.live-camera-cover{
		position: relative;
		margin-bottom: 20px;
		cursor: pointer;

		&:after{
			content:" ";
			width: 45px;
			height: 45px;
			@include cover;
			margin: auto;
			background: url(/src/assets/images/play-button.png);
		}

		img{
			display: block;
			width: 100%;
			height: auto;
			max-width: 100%;
			border-radius: 5px;
		}
	}

	.location{
		margin-bottom: 5px;
		color: white;
		font-weight: 300;
	}
}

.photo-grid{
	margin: 0 -5px;
	a{
		width: 33.333%;
		padding: 5px;
		float: left;

		img{
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
		}
	}
}


.photo{
	position: relative;
	padding-left: 50%;
	min-height: 190px;
	border-radius: 10px;
	overflow: hidden;
	background: $secondary-color;
	margin-bottom: 30px;

	.photo-preview{
		position: absolute;
		width: 50%;
		left:0;
		top:0;
		bottom:0;
		background-size: cover;
	}

	.photo-details{
		padding: 20px;
	}

	.photo-title{
		margin-bottom: 10px;
		font-weight: 300;
		a{color: white}
	}
}

